		html, body { margin: 0; padding: 0; background-color:black;}
		body { padding-bottom: 20px; text-align: center; }
		#container {
			text-align: left;
			margin: 0 auto;
		}		
		#header {
                        color: white;
                        background-image:url("beethoven-background.gif");
                        background-position: bottom right;
                        background-repeat: no-repeat;
                        background-color:black;
                        background-size: auto;
			border: 1px solid black;
			margin: 20px;
			padding: 20px;
                        padding-bottom:0;
		}
		#content {
			background-color:white;
			margin-left: 20px;
			margin-right: 20px;
			border: 1px solid black;
			padding: 20px;
		}
		#footer {
			background-color:white;
			margin: 20px 20px 0 20px;
			padding: 20px;
			border: 1px solid black;
			clear: left;
		}
	    .navbar li {
	    	display: inline;
	    }
	    .navbar li a {
	    	min-height:44px;
	    	min-width:44px;
	    }

thead th {
   background-color:#bfb;
   text-align:center;
}

th, td {
  border: thin gray dotted;
  padding: 0.5em;
}